*{
    transition: 0.3s;
}
body{
    position: relative;
}
#order{
    position: absolute;
    margin: 5px;
    right: 0%;
    height: 85vh;
    width: 30%;
    background: rgba(255, 255, 255, 0.219);
    border-radius: 30px;
    transform: translateY(10%);
}
#ser{
    position: absolute;
    margin: 5px;
    left: 0%;
    height: 85vh;
    width: 68%;
    background: rgba(255, 255, 255, 0.219);
    border-radius: 30px;
    transform: translateY(10%);
}