*{
    transition: 0.3s;
}
body{
    position: relative;
    overflow: hidden;
}
#graph{
    width: 50%;
    height: 50%;
}
#container{
    position: absolute;
    right: -15%;
    top: 10%;
    width: 20%;
    height: 20%;
}
#container li{
    margin: 4% 0;
    opacity: 70%;
    cursor: pointer;
}
#container li:hover{
    opacity: 100%;
}

#insta{
    content: url('../instagram_square.png') ;
   /* width: 50px;
    height: 50px;*/
    width: 9.5%;
    height: 19%;
    transform: translateX(5%);
}
#whats{
    content: url('../whatsapp.png') ;
    /*width: 60px;
    height: 60px;*/
    width: 11%;
    height: 21%;
}
#face{
    content: url('../facebook_circle.png') ;
    /*width: 75px;
    height: 75px;*/
    width: 14%;
    height: 27%;
    transform: translateX(-13%);
}
#link{
    content: url('../linkedin_circle.png') ;
    /*width: 55px;
    height: 55px;*/
    width: 10.5%;
    height: 20%;
}
#yout{
    content: url('../youtube.png') ;
    /*width: 55px;
    height: 55px;*/
    width: 10.5%;
    height: 20%;
    border-radius: 100px;
}
#contact{
    position: absolute;
    border-radius: 20px;
    height: 80%;
    width: 40%;
    top: 10%;
    right: 10%;
}